/* general */
:root {
  --highlight: #eb4d4b;
  --dark-color: #2f4858;
  --darker-color: #172b38;
  --light-color: #E1ECF4;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  display: flex;
  height: 100%;
  width: 100%;
}

i {
  color: var(--dark-color);
}

input, p, a, button, li {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
}

h1, h2, h3 {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: inside;
  list-style-type: circle;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1400px;
  height: 100vh;
  padding: 0 8vw;
}

section > h1 {
  font-size: 3em;
  letter-spacing: 0.06em;
  text-align: center;
  margin: 0.5em;
  font-weight: 900;
}

/* navbar */

nav {
  position: sticky;
  top: 0;
  left: 0;
  transition: 0.5s;
  padding: 10vh 2.5vw;
  width: 100%;
  max-width: 260px;
  min-width: 200px;
  max-height: 80vh;
  z-index: 10;
}

#nav-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

nav:hover {
  box-shadow: 2px 0px 20px -3px var(--darker-color);
}

#menu-btn {
  font-size: 2em;
  visibility: hidden;
  position: fixed;
  top: 1em;
  right: 0.5em;
  height: 50px;
  width: 50px;
  box-shadow: 0px 0px 4px var(--darker-color);
  border-radius: 5px;
}

#profile-pic {
  object-fit: cover;
  width: 100%;
  border-radius: 100%;
}

#nav-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

#nav-links > a {
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}

#social-links > a {
  font-weight: 700;
  font-size: 3.5em;
  text-align: center;
}

#social-links > a > i:hover,
a:hover {
  color: var(--highlight);
}

#social-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

#options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

/* image carousel */
.image-carousel {
  display: grid;
  place-items: center;
  padding-top: 0.5em;
}

.slide-container {
  width: 100%;
  margin-top: 0.5em;
  height: 550px;
  position: relative;
  overflow: hidden;
}

.slide {
  display: flex;
  justify-content: center;
  position: absolute;
  background-color: var(--darker-color);
  width: 100%;
  height: 550px;
  transition: all 0.5s;
  overflow: hidden;
}

.slide img {
  height: 100%;
}

.slide a {
  display: flex;
  justify-content: center;
}

.btn {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  font-size: 18px;
}

.btn:active {
  transform: scale(1.1);
}

.btn-prev {
  top: 50%;
  left: 2%;
}

.btn-next {
  top: 50%;
  right: 2%;
}

/* start from w3 >>>>>> */
/* rounded toggle slider */
/* The switch - the box around the slider */
.switch {
  justify-self: flex-start;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--light-color);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--darker-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--dark-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* end from w3 >>>>>> */

/* intro */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#intro > h1 {
  font-size: 4em;
  letter-spacing: 0.05em;
  margin: 0;
}

/* about me */
#about-me > p {
  font-size: 1.5em;
  text-align: center;
  line-height: 1.4em;
  letter-spacing: 0.07em;
}

/* portfolio */
#portfolio {
  height: inherit;
  justify-content: flex-start;
  margin: 5em 0em;
}

#works {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

#works h3 {
  margin-top: 1em;
}

.work > p {
  line-height: 1.4em;
}

/* default mode */
.d-background-light {
  background-color: var(--light-color);
}

.d-text-light {
  color: var(--dark-color);
}

.d-button-light {
  background-color: var(--light-color);
}

/* dark mode */
.d-background-dark {
  background-color: var(--dark-color);
}

.d-text-dark {
  color: var(--light-color);
}

.d-button-dark {
  background-color: var(--dark-color);
}

@media (max-width: 480px) {
  nav {
    visibility: hidden;
    position: fixed;
    bottom: 0;
    box-shadow: 2px 0px 20px -3px var(--darker-color);
    padding: 0 1em;
    max-height: inherit;
  }

  section {
    padding: 0 1em;
  }

  #nav-content {
    justify-content: space-evenly;
  }

  #menu-btn {
    visibility: visible;
  }
}